node_modules/
.expo/
dist/
web-build/
app-example/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env files
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo
